<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.newer.olympia.mapper.HobbiesMapper">
    <resultMap id="hobbies_h" type="com.newer.olympia.domain.Hobbies">
        <id property="User_id" column="User_id"></id>
        <result property="Hobbies_hobby" column="Hobbies_hobby"/>
        <result property="Hobbies_music" column="Hobbies_music"/>
        <result property="Hobbies_telecast" column="Hobbies_telecast"/>
        <result property="Hobbies_book" column="Hobbies_book"/>
        <result property="Hobbies_movie" column="Hobbies_movie"/>
        <result property="Hobbies_writer" column="Hobbies_writer"/>
        <result property="Hobbies_game" column="Hobbies_game"/>
        <result property="Hobbies_else" column="Hobbies_else"/>
        <collection property="user" ofType="com.newer.olympia.domain.User">
            <result property="User_describe" column="User_describe"/>
        </collection>
    </resultMap>

    <select id="hobbiesAll" resultMap="hobbies_h" parameterType="int">
       select h.*,u.User_describe from User u,Hobbies h where h.User_id=u.User_id
       and h.User_id=#{User_id}
    </select>

    <resultMap id="blogs_b" type="com.newer.olympia.domain.Blogs">
        <id property="Blogs_id" column="Blogs_id"></id>
        <id property="User_id" column="User_id"></id>
        <result property="Blogs_content" column="Blogs_content"/>
        <result property="Blogs_type" column="Blogs_type"/>
        <result property="Blogs_img" column="Blogs_img"/>
        <result property="Blogs_time" column="Blogs_time"/>
        <result property="Blogs_like" column="Blogs_like"/>
        <result property="Blogs_state" column="Blogs_state"/>
        <collection property="user" ofType="com.newer.olympia.domain.User">
            <id property="User_id" column="User_id"></id>
            <result property="User_name" column="User_name"/>
            <result property="User_img" column="User_img"/>
        </collection>
        <collection property="comment" ofType="com.newer.olympia.domain.Comment">
            <id property="Comment_id" column="Comment_id"></id>
            <id property="Comment_user_id" column="Comment_user_id"></id>
            <id property="Blogs_id" column="Blogs_id"></id>
            <id property="User_id" column="User_id"></id>
            <result property="Comment_content" column="Comment_content"/>
            <result property="Comment_time" column="Comment_time"/>
        </collection>
        <collection property="friend" ofType="com.newer.olympia.domain.Friend">
            <id property="Friend_user_id" column="Friend_user_id"></id>
            <id property="User_id" column="User_id"></id>
            <id property="Friend_id" column="Friend_id"></id>
        </collection>
    </resultMap>
    <select id="BlogsAll" resultMap="blogs_b" parameterType="int">
        select b.*,u.User_id,u.User_name,u.User_img,c.* from blogs b,user u,comment c
        where b.User_id=u.User_id and b.User_id=c.User_id and b.User_id=#{User_id}
    </select>

    <resultMap id="album_a" type="com.newer.olympia.domain.Album">
        <id property="Album_id" column="Album_id"></id>
        <id property="Picture_id" column="Picture_id"></id>
        <id property="User_id" column="User_id"></id>
        <result property="Album_name" column="Album_name"/>
        <result property="Album_describe" column="Album_describe"/>
        <result property="Album_like" column="Album_like"/>
        <collection property="user" ofType="com.newer.olympia.domain.User">
            <id property="User_id" column="User_id"></id>
            <result property="User_name" column="User_name"/>
        </collection>
        <collection property="picture" ofType="com.newer.olympia.domain.Picture">
            <id property="Picture_id" column="Picture_id"></id>
            <result property="Picture_path" column="Picture_path"/>
        </collection>
    </resultMap>
    <select id="AlbumAll" resultMap="album_a" parameterType="int">
        select a.*,u.User_id,u.User_name,p.*  from album a,User u,Picture p where a.User_id=u.User_id
        and a.Picture_id=p.Picture_id and a.User_id=#{User_id}
    </select>

    <resultMap id="friend_a" type="com.newer.olympia.domain.Friend">
        <id property="Friend_user_id" column="Friend_user_id"></id>
        <id property="User_id" column="User_id"></id>
        <id property="Friend_id" column="Friend_id"></id>
        <collection property="user" ofType="com.newer.olympia.domain.User">
            <id property="User_id" column="User_id"></id>
            <result property="User_img" column="User_img"/>
        </collection>
    </resultMap>
    <select id="FriendAll" resultMap="friend_a" parameterType="int">
        select f.*,t.Picture_path  User_img,u.User_id,u.User_authentication ,
        u.User_birthday ,u.User_birthplace ,u.User_city ,u.User_count ,u.User_describe ,
        u.User_email ,u.User_faith ,u.User_id_card ,u.User_job ,u. User_last_name ,
        u. User_login_time ,u. User_marriage ,u. User_mobile ,u. User_name ,u. User_politics ,
        u. User_province ,u. User_safety , u. User_sex , u. User_state , u. User_time
        from Friend f left join  User u on f.User_id=u.User_id left join picture t on u.User_img = t.picture_id where
        f.User_id=#{User_id}
    </select>


    <resultMap id="Medal_m" type="com.newer.olympia.domain.Medal_user">
        <id property="Medal_user_id" column="Medal_user_id"></id>
        <id property="User_id" column="User_id"></id>
        <id property="Medal_id" column="Medal_id"></id>
        <collection property="user" ofType="com.newer.olympia.domain.User">
            <id property="User_id" column="User_id"></id>
            <result property="User_name" column="User_name"/>
        </collection>
        <collection property="medal" ofType="com.newer.olympia.domain.Medal">
            <id property="Medal_id" column="Medal_id"></id>
            <result property="Medal_name" column="Medal_name"/>
            <result property="Medal_img" column="Medal_img"/>
        </collection>
    </resultMap>
    <select id="MedalAll" resultMap="Medal_m" parameterType="int">
       select m.*,d.*,u.* from Medal_user m,Medal d,User u where m.User_id=u.User_id and
       m.Medal_id=d.Medal_id and m.User_id=#{User_id}
    </select>

    <resultMap id="Apply_a" type="com.newer.olympia.domain.Apply">
        <id property="Apply_id" column="Apply_id"></id>
        <id property="User_id" column="User_id"></id>
        <id property="Apply_user_id" column="Apply_user_id"></id>
        <collection property="user" ofType="com.newer.olympia.domain.User">
            <id property="User_id" column="User_id"></id>
            <result property="User_img" column="User_img"/>
            <result property="User_name" column="User_name"/>
        </collection>
    </resultMap>

    <select id="findAllByUser" resultMap="Apply_a" parameterType="int">
       select a.*,u.User_name,p.Picture_path as User_img from apply a,user u,picture p  where
        u.User_img=p.Picture_id and a.User_id=u.User_id and a.user_id = #{User_id}
    </select>
    <resultMap id="Table_t" type="com.newer.olympia.domain.User_table">
        <id property="User_table_id" column="User_table_id"></id>
        <id property="User_id" column="User_id"></id>
        <id property="Blogs_id" column="Blogs_id"></id>
        <id property="Status" column="Status"></id>
        <result property="User_table_time" column="User_table_time"/>
        <collection property="user" ofType="com.newer.olympia.domain.User">
            <id property="User_id" column="User_id"></id>
            <result property="User_img" column="User_img"/>
            <result property="User_name" column="User_name"/>
        </collection>
        <collection property="blogs" ofType="com.newer.olympia.domain.Blogs">
            <id property="Blogs_id" column="Blogs_id"></id>
            <id property="User_id" column="User_id"></id>
            <result property="Blogs_content" column="Blogs_content"/>
            <result property="Blogs_type" column="Blogs_type"/>
            <result property="Blogs_img" column="Blogs_img"/>
            <result property="Blogs_time" column="Blogs_time"/>
            <result property="Blogs_like" column="Blogs_like"/>
            <result property="Blogs_state" column="Blogs_state"/>
        </collection>
        <collection property="friend" ofType="com.newer.olympia.domain.Friend">
            <id property="Friend_user_id" column="Friend_user_id"></id>
            <id property="User_id" column="User_id"></id>
            <id property="Friend_id" column="Friend_id"></id>
        </collection>
        <collection property="comment" ofType="com.newer.olympia.domain.Comment">
            <id property="Comment_id" column="Comment_id"></id>
            <id property="Comment_user_id" column="Comment_user_id"></id>
            <id property="Blogs_id" column="Blogs_id"></id>
            <id property="User_id" column="User_id"></id>
            <result property="Comment_content" column="Comment_content"/>
            <result property="Comment_time" column="Comment_time"/>
        </collection>
    </resultMap>

    <select id="FindUtableall" resultMap="Table_t" parameterType="int">
       SELECT t.*,u.User_id,u.User_name,b.*,p.Picture_path AS User_img FROM user_table t,USER u,blogs b,picture p WHERE t.User_id=u.User_id
       AND t.User_id=b.User_id AND u.User_img=p.Picture_id AND t.User_id=#{User_id} AND t.Blogs_id=#{Blogs_id}
    </select>

    <resultMap id="fenye" type="com.newer.olympia.domain.FriendComment">
        <result property="Comment_id" column="Comment_id"/>
        <result property="Comment_content" column="Comment_content"/>
        <result property="Comment_time" column="Comment_time"/>
        <result property="Blogs_id" column="Blogs_id"/>
        <result property="User_id" column="User_id"/>
        <result property="Comment_user_name" column="User_name"/>
        <result property="Comment_user_img" column="User_img"/>
        <result property="Comment_user_id" column="Comment_user_id"/>
    </resultMap>
    <select id="selectCommentAllByid" resultMap="fenye">
        SELECT	c.*,u.User_id,u.User_name,u.User_img FROM COMMENT c ,
        USER u WHERE c.Blogs_id = #{Blogs_id} and c.User_id = #{User_id}
         and c.User_id = u.User_id  limit #{pageNo},#{pageNoSize}
    </select>

    <resultMap id="Blog_bb" type="com.newer.olympia.domain.SyjBlgos">
        <id property="Blogs_id" column="Blogs_id"></id>
        <id property="User_id" column="User_id"></id>
        <result property="Blogs_content" column="Blogs_content"/>
        <result property="Blogs_type" column="Blogs_type"/>
        <result property="Blogs_img" column="Blogs_img"/>
        <result property="Blogs_time" column="Blogs_time"/>
        <result property="Blogs_like" column="Blogs_like"/>
        <result property="Blogs_state" column="Blogs_state"/>
        <collection property="user" ofType="com.newer.olympia.domain.User">
            <id property="User_id" column="User_id"></id>
            <result property="User_img" column="User_img"/>
            <result property="User_name" column="User_name"/>
        </collection>
        <collection property="comment" ofType="com.newer.olympia.domain.Comment">
            <id property="Comment_id" column="Comment_id"></id>
            <id property="Comment_user_id" column="Comment_user_id"></id>
            <id property="Blogs_id" column="Blogs_id"></id>
            <id property="User_id" column="User_id"></id>
            <result property="Comment_content" column="Comment_content"/>
            <result property="Comment_time" column="Comment_time"/>
        </collection>
        <collection property="user_table" ofType="com.newer.olympia.domain.User_table">
            <id property="User_table_id" column="User_table_id"></id>
            <id property="User_id" column="User_id"></id>
            <id property="Blogs_id" column="Blogs_id"></id>
            <id property="Status" column="Status"></id>
            <result property="User_table_time" column="User_table_time"/>
        </collection>
    </resultMap>
    <select id="selectBlogsAllByid" resultMap="Blog_bb">
      SELECT s.*,u.User_id,u.User_name,p.Picture_path AS User_img FROM blogs s,USER u,picture p
        WHERE s.User_id=u.User_id  AND U.User_img = p.Picture_id
    </select>

    <resultMap id="Table_tab" type="com.newer.olympia.domain.User_table">
        <id property="User_table_id" column="User_table_id"></id>
        <id property="User_id" column="User_id"></id>
        <id property="Blogs_id" column="Blogs_id"></id>
        <id property="Status" column="Status"></id>
        <result property="User_table_time" column="User_table_time"/>
        <collection property="user" ofType="com.newer.olympia.domain.User">
            <id property="User_id" column="User_id"></id>
            <result property="User_img" column="User_img"/>
            <result property="User_name" column="User_name"/>
        </collection>
    </resultMap>
    <select id="User_tableing" resultMap="Table_tab" parameterType="int">
       select t.*,u.User_id,u.User_name,p.Picture_path as User_img from user_table t,user u,picture p where t.User_id=u.User_id
       and u.User_img=p.Picture_id  and t.User_id=#{User_id} and t.Blogs_id=#{Blogs_id}
    </select>

    <resultMap id="tab" type="com.newer.olympia.domain.User_table">
        <id property="User_table_id" column="User_table_id"></id>
        <id property="User_id" column="User_id"></id>
        <id property="Blogs_id" column="Blogs_id"></id>
        <id property="Status" column="Status"></id>
        <result property="User_table_time" column="User_table_time"/>
        <collection property="user" ofType="com.newer.olympia.domain.User">
            <id property="User_id" column="User_id"></id>
            <result property="User_img" column="User_img"/>
            <result property="User_name" column="User_name"/>
        </collection>
    </resultMap>
    <select id="Utablealltupian" resultMap="tab" parameterType="int">
       select t.*,u.User_id,u.User_name,p.Picture_path as User_img from user_table t,user u,
       picture p where t.User_id=u.User_id and u.User_img=p.Picture_id
    </select>


    <resultMap id="Blog_aab" type="com.newer.olympia.domain.SyjBlgos">
        <id property="Blogs_id" column="Blogs_id"></id>
        <id property="User_id" column="User_id"></id>
        <result property="Blogs_content" column="Blogs_content"/>
        <result property="Blogs_type" column="Blogs_type"/>
        <result property="Blogs_img" column="Blogs_img"/>
        <result property="Blogs_time" column="Blogs_time"/>
        <result property="Blogs_like" column="Blogs_like"/>
        <result property="Blogs_state" column="Blogs_state"/>
        <collection property="user" ofType="com.newer.olympia.domain.User">
            <id property="User_id" column="User_id"></id>
            <result property="User_img" column="User_img"/>
            <result property="User_name" column="User_name"/>
        </collection>
    </resultMap>
    <select id="selectBlogsAllByiding" resultMap="Blog_aab">
      SELECT s.*,u.User_id,u.User_name,p.Picture_path AS User_img FROM blogs s,USER u,picture p
        WHERE s.User_id=u.User_id  AND U.User_img = p.Picture_id  limit #{pageNo},#{pageNoSize}
    </select>
</mapper>

